<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=chrome">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/Pagamentos/pix.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/Header/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/Footer/footer.css') }}">
    <title>Pagamento Pix</title>
</head>
<body>
    <nav>
        <h2>Paróquia da Torre</h2>
        <ul>
            <li><a href="{{ url_for('index') }}">Sobre Nós</a></li>
            <li><a href="{{ url_for('index') }}">Visite-Nos</a></li>
            <li><a href="{{ url_for('index') }}">F.A.Q</a></li>
            <li><a href="{{ url_for('contribuir') }}">Contribuir</a></li>
            {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('login')}}">Olá, {{current_user[0][1]}}</a></li>
            {% else %}
                <li><a href="{{ url_for('login')}}">Entre aqui</a></li>
            {% endif %}
        </ul>
    </nav>

    <div id="pagPix">
        <div>
            <img id="logoPix" src='https://logopng.com.br/logos/pix-106.svg' alt='Logo do Pix'></img>
        </div>
        <div id="linhaQR">
            <img id="qrCode" src='https://media.discordapp.net/attachments/954018018751553630/1047688104120680468/image.png' alt='QR Code do pix'></img>
            <div id="colunaPague">
                <h3 class='pague'>PAGUE COM O PIX</h3>
                <br>
                <ul class='pague-pix'>
                    <li>Abra o aplicativo do seu banco</li>
                    <li>Escolha Pagar com QR Code</li>
                    <li>Aponte a câmera para o código</li>
                    <li>Caso não consiga, selecione pagar CNPJ e copie a chave abaixo: </li>
                </ul>
                <br>
                <p id='chave'>CHAVE DE CNPJ</p>
                <br>
                <div class='chave-pix'>
                    <p id='numero-chave'>48.336.431/0001-50</p>
                </div>
            </div>
        </div>
    </div>

    <footer class='footer'> <!-- Footer -->
        <img class='logo'
            src='https://www.altoastral.com.br/media/uploads/legacy/2016/07/AAT001-P001-89335-1-m-Divulgacao_1.jpg'
            alt='Logo da Paróquia'></img>
        <p class='contato'>CONTATO</p>
        <ul class='icones'>
            <li><a href=' '><img class='' src='https://cdn-icons-png.flaticon.com/512/2175/2175193.png' alt=''></img></a>
            </li>
            <li><a href='https://www.instagram.com/paroquiadatorre/'><img class=''
                        src='https://cdn-icons-png.flaticon.com/512/3670/3670274.png' alt=''></img></a></li>
            <li><a href=' '><img class='' src='https://cdn-icons-png.flaticon.com/512/733/733641.png' alt=''></img></a></li>
            <li><a href=' '><img class='' src='https://cdn-icons-png.flaticon.com/512/1384/1384028.png' alt=''></img></a>
            </li>
        </ul>
        <p class='endereco'>Rua Conde de Irajá, S/n, Torre, Recife - PE</p>
        <ul class='outros'>
            <li>FAC</li>
            <li>Termos e Condições</li>
            <li>Políticas de Privacidade</li>
        </ul>
    </footer>
</body>
</html>