#cadastro-usuario {
    padding-top: 5%;
    padding-bottom: 3%;
}

#escolha {
    margin-left: -1%;
}

#cadastro-usuario form {
    display: flex;
    flex-direction: column;
    margin-left: 30%;
}

#cadastro-usuario input {
    max-width: 500px;
    height: 35px;
    padding-left: 5px;
    background-color: #FDE993;
    border: 0px;
}

input::placeholder {
    color: #985B26;
}

.input1 {
    margin-left: 0.4%;
}

.input2 {
    margin-left: 6.7%;
}

.input3 {
    margin-left: 7.6%;
}

.input4 {
    margin-left: 4.8%;
}

.inputs5 {
    margin-left: 0%;
}

#cadastro-usuario input.inputs5 {
    width: 470px;
}

#cadastro-usuario button#botao-cartao {
    width: 130px;
    height: 40px;
    background-color: #C5833A;
    color: white;
    border: 0px;
    text-align: center;
    margin-left: 2%;
    border-radius: 20px;
    margin-top: 2%;
}

#cadastro-usuario button#botao-pix {
    width: 130px;
    height: 40px;
    background-color: #C5833A;
    color: white;
    border: 0px;
    text-align: center;
    margin-left: 22%;
    border-radius: 20px;
    margin-top: -3.6%;
}

#cadastro-usuario button#botao-boleto {
    width: 130px;
    height: 40px;
    background-color: #C5833A;
    color: white;
    border: 0px;
    text-align: center;
    margin-left: 42%;
    border-radius: 20px;
    margin-top: -3.8%;
}


#cadastro-usuario button#botao-cartao:hover {
    background-color: #F8BE5A;
}

#cadastro-usuario button#botao-cartao :hover {
    color: black;
}


#cadastro-usuario button#botao-pix:hover {
    background-color: #F8BE5A;
}

#cadastro-usuario button#botao-pix :hover {
    color: black;
}


#cadastro-usuario button#botao-boleto:hover {
    background-color: #F8BE5A;
}

#cadastro-usuario button#botao-boleto :hover {
    color: black;
}