@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

/* Fontes Usadas: 

font-family: 'Roboto Condensed', sans-serif;

*/

* {  /* Tirando as definições padrões do site */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    /*scrollbar-arrow-color: ;*/ 
}

body {
    background-color: white;
}

nav {
    background-color: #F1AA4D;
    height: 90px;
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto Condensed', sans-serif;                      
}

nav img {
    width: 100px;
    height: 70px;
    margin-top: 10px;
    margin-left: 10px;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-top: 30px;
    margin-right: 40px;
}

nav li {
    width: 150px;
    height: 40px;
    background-color: #FDE993;
    margin-left: 50px;
    padding-top: 10px;
    padding-left: 10px;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
}

nav li:hover {
    background-color: #f1a008;
}

nav li a {
    text-align: center;
    text-decoration: none;
    color: black;
}

.base {
    background-color: #FDE993;
    width: 80%;
    margin-top: 1.8rem;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: center;
}