@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

/* Fontes Usadas: 

font-family: 'Roboto Condensed', sans-serif;

*/

* {  /* Tirando as definições padrões do site */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Roboto Condensed', sans-serif;
    /*scrollbar-arrow-color: ;*/ 
}

body {
    background-color: white;
}

nav {
    background-color: #F1AA4D;
    height: 60px;
    display: flex;
    justify-content: space-between;                   
}

nav h2 {
    margin-top: 15px;
    margin-left: 2%;
    color: white;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-top: 10px;
    margin-right: 10px;
}

nav li {
    width: 150px;
    height: 40px;
    margin-left: 10px;
    padding-top: 10px;
    padding-left: 5%;
    border-radius: 10px;
    cursor: pointer;
}

nav li:hover {
    background-color: #F8BE5A;
    ;
}

nav li a {
    text-align: center;
    text-decoration: none;
    color: white;
}

/* Linhas */

.linhas {
    display: flex;
    flex-direction: column;
}

.linhas h3 {
    margin-left: 11%;
    margin-top: 20px;
}

/* Linha 1 */

#linha1 {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    margin-left: 11%;
}

#imagem1 {
    width: 562px;
    height: 192px;
    border-radius: 10px;
}

#texto1 {
    width: 562px;
    height: 198px;
    margin-left: 40px;
    background-color: #FDE993;
    border-radius: 10px;
    padding: 20px;
}

/* Linha 2 */

#linha2 {
    display: flex;
    flex-direction: row;
    margin-left: 11%;
    margin-top: 15px;
    color: white;
}

#linha2 h2 {
    text-align: center;
}

#texto2 {
    width: 362px;
    height: 198px;
    background-color: #C5833A;
    border-radius: 10px;
    padding: 5px;
}

#texto3 {
    width: 362px;
    height: 198px;
    margin-left: 40px;
    background-color: #C5833A;
    border-radius: 10px;
    padding: 15px;
}

#texto4 {
    width: 362px;
    height: 198px;
    margin-left: 40px;
    background-color: #C5833A;
    border-radius: 10px;
    padding: 3px;
}

/* Linha 3 */

#linha3 {
    display: flex;
    flex-direction: row;
    margin-left: 11%;
    margin-top: 15px;
    color: black;
}

#imagem2 {
    width: 362px;
    height: 192px;
    border-radius: 10px;
}

#texto5 {
    width: 762px;
    height: 198px;
    margin-left: 40px;
    background-color: #F8BE5A;
    border-radius: 10px;
    padding: 20px;
}

/* Linha 4 */

#linha4 {
    display: flex;
    flex-direction: row;
    margin-left: 80px;
    margin-top: 15px;
    color: black;
    margin-left: 11%;
}

#imagem3 {
    width: 472px;
    height: 192px;
    border-radius: 10px;
}

#texto6 {
    width: 662px;
    height: 198px;
    margin-right: 30px;
    background-color: #F8BE5A;
    border-radius: 10px;
    padding: 20px;
}

/* Linha 5 */

#linha5 {
    display: flex;
    flex-direction: row;
    margin-left: 80px;
    margin-top: 15px;
    color: black;
    margin-left: 11%;
}

#imagem4 {
    width: 465px;
    height: 315px;
    border-radius: 10px;
}

#texto7 {
    width: 320px;
    height: 315px;
    margin-right: 30px;
    background-color: #F8BE5A;
    border-radius: 10px;
    padding: 20px;
}

#texto8 {
    width: 320px;
    height: 315px;
    margin-left: 30px;
    background-color: #F8BE5A;
    border-radius: 10px;
    padding: 20px;
}

/* Linha 6 */

#linha6 {
    display: flex;
    flex-direction: row;
    margin-left: 80px;
    margin-top: 15px;
    color: black;
    margin-left: 11%;
}

#texto9 {
    width: 1165px;
    height: 480px;
    background-color: #FDE993;
    border-radius: 10px;
    padding: 15px;
}

#texto9 iframe {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 50px;
    width: 90%;
    height: 410px;
    border-radius: 10px;
}

/* Login */

.login ul {
    margin-left: 570px;
    font-size: 1.7em;
}

.login ul a {
    color: black;
}

#login-usuario form {
    display: flex;
    flex-direction: column;
    margin-left: 450px;
}

.campos {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.campos label {
    margin-right: 10px;
    padding-top: 9px;
}

#login-usuario input {
    width: 400px;
    height: 35px;
    padding-left: 5px;
    background-color: #FDE993;
    border: 0px;
}

input::placeholder {
    color: #985B26;
}

#login-usuario button {
    width: 130px;
    height: 40px;
    background-color: #C5833A;
    color: white;
    border: 0px;
    text-align: center;
    margin-left: 180px;
}

/* Cadastro */

#cadastro-usuario form {
    display: flex;
    flex-direction: column;
    margin-left: 450px;
}

#cadastro-usuario input {
    min-width: 300px;
    max-width: 400px;
    height: 35px;
    padding-left: 5px;
    background-color: #FDE993;
    border: 0px;
}

input::placeholder {
    color: #985B26;
}

#cadastro-usuario button {
    width: 130px;
    height: 40px;
    background-color: #C5833A;
    color: white;
    border: 0px;
    text-align: center;
    margin-left: 180px;
}