@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

* {  /* Tirando as definições padrões do site */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Roboto Condensed', sans-serif;
    /*scrollbar-arrow-color: ;*/ 
}

body {
    background-color: white;
}

/* Cadastro */

a {
    text-decoration: none;
}

a:link {
    color: white
}

/* Login */

.logo-login {
    position: relative;
    width: 100px;
    height: 100px;
    margin-left: 50%;
    margin-bottom: 2%;
}

#login-usuario {
    padding-top: 10%;
    padding-bottom: 15%;
}

#login-usuario form {
    display: flex;
    flex-direction: column;
    margin-left: 35%;
}

.campos {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.campos label {
    margin-right: 10px;
    padding-top: 9px;
}

.campos input#email{
    margin-left: 0.4%;
}

#login-usuario input {
    width: 500px;
    height: 35px;
    padding-left: 5px;
    background-color: #FDE993;
    border: 0px;
}

input::placeholder {
    color: #985B26;
}

#login-usuario button#botao-login {
    width: 130px;
    height: 40px;
    background-color: #C5833A;
    color: white;
    border: 0px;
    text-align: center;
    margin-left: 10%;
    border-radius: 20px;
}

#login-usuario button#botao-cadastro {
    width: 130px;
    height: 40px;
    background-color: #C5833A;
    color: white;
    border: 0px;
    text-align: center;
    margin-left: 36%;
    border-radius: 20px;
    margin-top: -3.8%;
}

a {
    text-align: center;
    text-decoration: none;
    color: white;
}

button {
    cursor: pointer;
}
