@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

/* Fontes Usadas: 

font-family: 'Roboto Condensed', sans-serif;

*/

* {  /* Tirando as definições padrões do site */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Roboto Condensed', sans-serif;
    /*scrollbar-arrow-color: ;*/ 
}

body {
    background-color: white;
}