nav {
    background-color: #F1AA4D;
    height: 60px;
    display: flex;
    justify-content: space-between;      
    position: fixed; 
    width: 100%;
    z-index: 99;
}

nav h2 {
    margin-top: 15px;
    margin-left: 2%;
    color: white;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-top: 10px;
    margin-right: 10px;
}

nav li {
    width: 150px;
    height: 40px;
    margin-left: 10px;
    padding-top: 10px;
    padding-left: 5%;
    border-radius: 10px;
    cursor: pointer;
}

nav li:hover {
    background-color: #F8BE5A;
}

nav li a {
    text-align: center;
    text-decoration: none;
    color: white;
}
