<form method="post">
<label for="NumeroCartao">Numero do cartão: </label>
<input name="NumeroCartao" type="text">
<br><br>
<label for="DataValidade">Data de vencimento do cartão: </label>
<input name="DataValidade" id="DataValidade" type="month" min="2022-12" placeholder="mes/ano">
<br><br>
<label for="CVV">CVV: </label>
<input name="CVV" type="number" pattern="\d{3}|\d{3}" title="Precisa ser 3 números" placeholder="ex.: 000">
<br><br>
<label for="TitularCartao">Titular do cartao </label>
<input name="TitularCartao" type="text">
<br><br>
<label for="ValorContribuicao">Valor da contribuição: R$</label>
<input name="ValorContribuicao" type="number" min="1" step="any" value="1">
<br><br>
<label for="SalvarCartao">Quero salvar meu cartão para doações futuras</label>
<input type="checkbox" name="SalvarCartao">
<br><br>
<input type="submit" value="cadastrar">
</form>