<!DOCTYPE html>
<html lang="pt-BR"> <!-- Linguagem -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>Igreja da Torre</title> <!-- Nome do Documento -->

    <link rel="stylesheet" href="estilo.css"> <!-- Link do CSS -->
</head>
<header>
    <nav>
        <h2>Paróquia da Torre</h2>
        <ul>
             <li><a href="">Sobre Nós</a></li>
             <li><a href="">Visite-Nos</a></li>
             <li><a href="">F.A.Q</a></li>
             <li><a href="">Doar</a></li>
             <li><a href="site.html#login">Olá, Usuário</a></li>
        </ul>
     </nav>
</header>
<body>
    <div class="linhas">
        <div id="linha1">
            <img src="http://s2.glbimg.com/cyOl9X2mwN-RJ7Rmn-Kkbe7RyNk=/1200x630/filters:max_age(3600)/s02.video.glbimg.com/deo/vi/65/40/2094065"
                alt="" id="imagem1">
            <div id="texto1">
                <h2>Quem Somos</h2>
                <br>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis repellendus aspernatur nostrum veritatis fugit autem laborum quasi consectetur blanditiis? Corporis id dolore quibusdam debitis similique velit eligendi aperiam natus repellat.</p>
            </div>
        </div>
        <h3>Nossos Projetos</h3>
        <div id="linha2">
            <div id="texto2">
                <h2>Distribuição de Pães e Sopas</h2>
                <br>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis repellendus aspernatur nostrum veritatis fugit autem laborum quasi consectetur blanditiis? Corporis id dolore quibusdam debitis similique velit eligendi aperiam natus repellat.</p>
            </div>
            <div id="texto3">
                <h2>Doação de Roupas</h2>
                <br>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis repellendus aspernatur nostrum veritatis fugit autem laborum quasi consectetur blanditiis? Corporis id dolore quibusdam debitis similique velit eligendi aperiam natus repellat.</p>
            </div>
            <div id="texto4">
                <h2>Distribuição de Alguma Outra Coisa</h2>
                <br>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis repellendus aspernatur nostrum veritatis fugit autem laborum quasi consectetur blanditiis? Corporis id dolore quibusdam debitis similique velit eligendi aperiam natus repellat.</p>
            </div>
        </div>
        <h3>Sobre Nós</h3>
        <div id="linha3">
            <img src="http://s2.glbimg.com/cyOl9X2mwN-RJ7Rmn-Kkbe7RyNk=/1200x630/filters:max_age(3600)/s02.video.glbimg.com/deo/vi/65/40/2094065"
                alt="" id="imagem2">
            <div id="texto5">
                <h2>Quem Somos:</h2>
                <br>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis repellendus aspernatur nostrum veritatis
                    fugit autem laborum quasi consectetur blanditiis? Corporis id dolore quibusdam debitis similique velit
                    eligendi aperiam natus repellat.</p>
            </div>
        </div>
        <div id="linha4">
            <div id="texto6">
                <h2>Quem Somos:</h2>
                <br>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis repellendus aspernatur nostrum veritatis fugit autem laborum quasi consectetur blanditiis? Corporis id dolore quibusdam debitis similique velit eligendi aperiam natus repellat.</p>
            </div>
            <img src="http://s2.glbimg.com/cyOl9X2mwN-RJ7Rmn-Kkbe7RyNk=/1200x630/filters:max_age(3600)/s02.video.glbimg.com/deo/vi/65/40/2094065"
                alt="" id="imagem3">
        </div>
        <div id="linha5">
            <div id="texto7">
                <h2>Quem Somos:</h2>
                <br>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis repellendus aspernatur nostrum veritatis fugit autem laborum quasi consectetur blanditiis? Corporis id dolore quibusdam debitis similique velit eligendi aperiam natus repellat.</p>
            </div>
            <img src="http://s2.glbimg.com/cyOl9X2mwN-RJ7Rmn-Kkbe7RyNk=/1200x630/filters:max_age(3600)/s02.video.glbimg.com/deo/vi/65/40/2094065"
                alt="" id="imagem4">
            <div id="texto8">
                <h2>Quem Somos:</h2>
                <br>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis repellendus aspernatur nostrum veritatis fugit autem laborum quasi consectetur blanditiis? Corporis id dolore quibusdam debitis similique velit eligendi aperiam natus repellat.</p>
            </div>
        </div>
        <h3>Onde Nos Encontrar: </h3>
        <div id="linha6">
            <div id="texto9">
                <p>Venha nos fazer uma visita. A Paróquia da Torre está localizada na Rua Conde de Irajá, S/n - Torre, Recife - PE</p>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3950.120183559029!2d-34.88603623702375!3d-8.089224493556621!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7ab1f38b3717117%3A0x4371e4b40bf66016!2sPar%C3%B3quia%20Nossa%20Senhora%20do%20Ros%C3%A1rio%20(Igreja%20Do%20Pina)!5e0!3m2!1spt-BR!2sbr!4v1669635168696!5m2!1spt-BR!2sbr"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
        <br>
        <div class="login">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#login">Login</a></li>
                <li><a data-toggle="tab" href="#cadastro">Cadastro</a></li>
            </ul>
            <br>
            <br>
            <div class="tab-content">
                <div id="login" class="tab-pane fade in active">
                    <div id="login-usuario">
                        <form action="">
                            <div class="campos">
                                <label for="">Email: </label>
                                <input type="email" placeholder="ex: meunome@email.com">
                            </div>
                            <div class="campos">
                                <label for="">Senha: </label>
                                <input type="password" placeholder="Minímo: 8 caracteres">
                            </div>
                            <button type="submit">Login</button>
                        </form>
                    </div>
                </div>
                <div id="cadastro" class="tab-pane fade">
                    <div id="cadastro-usuario">
                        <form action="">
                            <div class="campos">
                                <label for="">Nome Completo: </label>
                                <input type="text" placeholder="Nome Completo" required>
                            </div>
                            <div class="campos">
                                <label for="">Email: </label>
                                <input type="email" placeholder="ex: meunome@email.com" autocomplete="email" required>
                            </div>
                            <div class="campos">
                                <label for="">CPF: </label>
                                <input type="number" placeholder="XXX.XXX.XXX–XX" required>
                            </div>
                            <div class="campos">
                                <label for="">Telefone: </label>
                                <input type="number" placeholder="(XX) XXXXX-XXXX">
                            </div>
                            <div class="campos">
                                <label for="">Senha: </label>
                                <input type="password" placeholder="Minímo: 8 caracteres" required>
                            </div>
                            <div class="campos">
                                <label for="">Confirmar Senha: </label>
                                <input type="password" placeholder="Minímo: 8 caracteres" required>
                            </div>
                            <button type="submit">Cadastro</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>

    <footer> <!-- Parte Final -->
        
    </footer>
</body>


</html>