<form method="POST">
    <label for="CPF">CPF: </label>
    <input type="text" id="cpf" name="CPF">
    <br><br>

    <label for="Nome">Nome: </label>
    <input type="text" name="Nome">
    <br><br>
    
    <label for="Sobrenome">Sobrenome: </label>
    <input type="text" name="Sobrenome">
    <br><br>

    <label for="Email">Email: </label>
    <input type="email" name="Email">
    <br><br>

    <label for="Telefone">Telefone: </label>
    <input type="tel" name="Telefone">
    <br><br>

    <label for="Senha">Senha: </label>
    <input type="password" name="Senha">
    <br><br>

    <input type="submit" value="CADASTRAR">
</form>